.category-dropdown,
.create-category-dropdown {
  display: none;
  opacity: 0;
  box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
  left: 0;
  margin-bottom: 0;
}

.category-dropdown.is-active,
.create-category-dropdown.is-active {
  display: block;
  opacity: 1;
}
